{% extends 'base.html.twig' %} {% block title %} {{ parent() }} - Inscription {%
endblock title %} {% block body %}

<div class="container">
	<h1 class="h3 mb-3 mt-3 font-weight-normal">Formulaire d'inscription</h1>
	{{ form(form) }}
</div>
{% endblock %}
