<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="csrf-token" content="{{ csrf_token('update-order') }}" />
		<title>{% block title %}Gestion des repas{% endblock %}</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		/>

		<!-- Bootstrap Icons CSS -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
			rel="stylesheet"
		/>

		<!-- FontAwesome CSS -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			rel="stylesheet"
		/>

		<!-- Select2 CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
			rel="stylesheet"
		/>

		<!-- Quill CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
			rel="stylesheet"
		/>

		<!-- Calendar CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
			rel="stylesheet"
		/>

		{% block stylesheets %}
		{{
			encore_entry_link_tags("app")
		}}
		{% endblock %}
	</head>
	<body
		class="{% if app.user and app.user.UserPreference %}palette-{{
			app.user.UserPreference.palette
		}}{% endif %}"
	>
		<header class="headerNavbar">{% include '_navbar.html.twig' %}</header>
		{% block body %}{% endblock %} {% include '_footer.html.twig' %} {% block
		javascripts %}
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- Popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- Select2 JS -->
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<!-- Quill JS -->
		<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
		<!-- Chart.js -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<!-- Flatpickr -->
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>

		{{ encore_entry_script_tags("app") }}
		{% endblock %}
	</body>
</html>
