{% extends 'base.html.twig' %} {% block title %}Edit Categorie{% endblock %} {%
block body %}
<div class="container">
	<div class="d-flex align-items-center mt-3 mb-3">
		<a href="{{ path('app_categorie_index') }}" class="mr-3">
			<i class="bi bi-arrow-left-circle-fill"></i>
		</a>
		<h1>Modifier tag</h1>
	</div>

	{{ include("categorie/_form.html.twig", { button_label: "Mettre à jour" }) }}
</div>
{% endblock %}
