{% extends 'base.html.twig' %} {% block title %}Categories{% endblock %} {%
block body %}
<h1>Liste des categories</h1>

<table class="table">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for categorie in categories %}
		<tr>
			<td>{{ categorie.Name }}</td>
			<td>
				<a href="{{ path('app_categorie_show', { id: categorie.id }) }}"
					>Voir</a
				>
				<a href="{{ path('app_categorie_edit', { id: categorie.id }) }}"
					>Modifier</a
				>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="3">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_categorie_new') }}">Ajouter</a>
{% endblock %}
